body {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #ffffff; }

* {
  padding: 0;
  margin: 0; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #2c2f3c;
  border-radius: 0px 0px 700px 0px / 0px 0px 350px 0px; }
  .header .header-wrap {
    width: 960px;
    margin: 0 auto;
    padding: 25px 0 215px; }
    .header .header-wrap .landing-logo, .header .header-wrap .footer .footer-wrap .footer_logo, .footer .footer-wrap .header .header-wrap .footer_logo {
      padding-bottom: 105px;
      display: flex;
      align-items: center; }
      .header .header-wrap .landing-logo p, .header .header-wrap .footer .footer-wrap .footer_logo p, .footer .footer-wrap .header .header-wrap .footer_logo p {
        margin-left: 20px;
        font-size: 22px;
        font-weight: bold; }
      .header .header-wrap .landing-logo span, .header .header-wrap .footer .footer-wrap .footer_logo span, .footer .footer-wrap .header .header-wrap .footer_logo span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-align: center; }
    .header .header-wrap .header_heading {
      font-size: 50px;
      font-weight: bold;
      width: 400px;
      margin-bottom: 50px;
      position: relative;
      z-index: 2;
      line-height: 1.2; }
      .header .header-wrap .header_heading:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 207px;
        height: 20px;
        background-color: #14a0c7;
        z-index: -1; }
    .header .header-wrap .header_text {
      width: 500px;
      margin-bottom: 70px;
      line-height: 2;
      font-size: 16px; }
    .header .header-wrap .header_button {
      display: inline-block;
      background-color: #699900;
      padding: 0 50px;
      line-height: 60px;
      border: none;
      border-radius: 3px;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px; }

main {
  position: relative;
  top: 75px; }

.section {
  width: 960px;
  margin: 0 auto; }
  .section .section_text {
    font-size: 40px;
    padding-bottom: 40px;
    color: #2c2f3c;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1; }
    .section .section_text:before {
      content: '';
      display: block;
      position: absolute;
      right: 280px;
      top: 33px;
      bottom: 5px;
      width: 190px;
      height: 20px;
      background-color: #14a0c7;
      z-index: -1; }
  .section .section_card_wrap {
    display: flex;
    margin-bottom: 175px; }
  .section .section_card {
    flex-grow: 1;
    margin: 0 13px;
    padding: 25px;
    border-radius: 5px;
    background-color: #21232e;
    color: #ffffff;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center; }
    .section .section_card:first-child {
      margin-left: 0; }
    .section .section_card:last-child {
      margin-right: 0; }
    .section .section_card .section_card_img {
      width: 100%;
      height: 160px;
      object-fit: fill;
      border-radius: 5px; }
    .section .section_card .section_card_heading {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      z-index: 1;
      display: inline-block;
      position: relative; }
      .section .section_card .section_card_heading:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-color: #14a0c7;
        z-index: -1; }
    .section .section_card .section_card_text {
      text-align: center;
      color: #c0c3ce; }
  .section .section_banner {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(to right, #0ec000 0%, #305fcd 100%);
    border-radius: 5px;
    padding: 20px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; }
    .section .section_banner p {
      margin: 15px 0;
      color: #a7bdc6; }
    .section .section_banner .section_banner_heading {
      color: #2c2f3c;
      font-size: 26px;
      font-weight: bold;
      position: relative;
      z-index: 2; }
      .section .section_banner .section_banner_heading:after {
        content: '';
        display: block;
        position: absolute;
        left: 106px;
        bottom: 0;
        width: 53px;
        height: 15px;
        background-color: #14a0c7;
        z-index: -1; }
    .section .section_banner .section_banner_button {
      display: inline-block;
      background-color: #699900;
      padding: 0 50px;
      line-height: 60px;
      border: none;
      border-radius: 3px;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px; }

.footer {
  background: #21232e;
  padding: 160px 0 70px;
  color: #c0c3ce; }
  .footer .footer-wrap {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_text {
      flex-basis: 260px; }
    .footer .footer-wrap .footer_logo {
      display: flex;
      align-items: center; }
      .footer .footer-wrap .footer_logo p {
        margin-left: 20px;
        font-size: 22px;
        font-weight: bold; }
      .footer .footer-wrap .footer_logo span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-align: center; }
